  /* Cambiar fondo a negro */
  body {
    background-color: black; /* Cambia el fondo a negro */
    color: white; /* Cambia el color del texto a blanco */
}
/* Estilos para centrar imágenes y añadir espacio */
main {
    display: flex; /* Usar Flexbox */
    justify-content: center; /* Centrar horizontalmente */
    flex-wrap: wrap; /* Permitir que las imágenes se envuelvan */
    margin-top: 20px; /* Espacio arriba */
}
img {
    margin: 10px; /* Espacio entre imágenes */
    width: 450px; /* Ancho fijo de las imágenes */
    height: auto; /* Mantener la relación de aspecto */
    cursor: pointer; /* Cambiar el cursor al pasar sobre la imagen */
    transition: transform 0.3s; /* Efecto de transición */
}
img:hover {
    transform: scale(1.1); /* Efecto al pasar el mouse sobre la imagen */
}
/* Estilos para la ventana modal */
.modal {
    display: none; /* Ocultarla inicialmente */
    position: fixed; /* Posicionarla en la pantalla */
    z-index: 1000; /* Asegurarse de que esté encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}
.modal-content {
    background-color: white;
    margin: 15% auto; /* Centrando */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho de la ventana */
    max-width: 400px; /* Ancho máximo */
}
 #mensajeModal {
    font-size: 1.5em; /* Tamaño de la fuente aumentado */
    color: black; /* Asegúrate de que el color sea visible */
    }

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}